<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body >
    <%- include("partials/nav") %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                


                <div class="card mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="/images/<%= urun.imageUrl %>" alt="" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h4 class="card-title"><%= urun.name %></h4>
                                <p class="card-text"><%=urun.price %></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maiores porro magni eveniet vitae recusandae qui iure dignissimos, sapiente ut debitis, fuga adipisci quis tempora aspernatur, officia facilis beatae aliquam!</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, optio aperiam, ipsa repellat nemo iusto provident aliquid esse dolorum explicabo, facere facilis quae ullam sed impedit vitae eaque asperiores accusamus?</p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</body>
</html>